/* Here goes your CSS */
/* Main styles */
html, body { font-family: 'Lato', sans-serif; margin: 0; padding: 0; }

.main { background: linear-gradient(-45deg, #fcaf32 0%, #fc888e 100%); display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; min-height: 100vh; }

.btn-main { -webkit-appearance: none; -moz-appearance: none; appearance: none; background: transparent; border: 0; cursor: pointer; font-family: 'Lobster', cursive; font-size: 42px; height: 60px; outline: none; padding: 0 20px; transition: all .5s ease; }

.btn-main:hover { transform: scale(1.15); }

/* ---COLORS--- */
/* ---FONTS--- */
/* ---MIXINS--- */
/* ---GENERAL STYLES--- */
* { margin: 0; padding: 0; }

/* ---JS DISPLAY CLASSES--- */
.display-flex { display: -ms-flexbox; display: flex; }

.display-none { display: none; }

.red-font-color { color: #e21a24; text-decoration: underline; }

/* ---BEFORE-LOGIN-ELEMENT--- */
.before-login-element { -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; }

.before-login-element .success-message { font-family: "Lobster", cursive; }

/* ---LOGIN-ELEMENT--- */
.login-element { -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; width: 275px; height: 320px; box-sizing: border-box; position: relative; padding: 36px; background: #fff; border-radius: 2%; }

.login-element .login-element-title { margin-bottom: 20px; font-size: 24px; font-family: "Lobster", cursive; }

.login-element .input-field { width: 100%; padding: 13px 22px; box-sizing: border-box; font-size: 11px; border: 1px solid #000; }

.login-element .email { margin-bottom: 15px; }

.login-element .password { margin-bottom: 18px; }

.login-element .checkbox-label { display: block; margin-bottom: 25px; font-size: 12.5px; }

.login-element .submit { display: block; width: 100%; padding: 13px; font-size: 11px; background: #000; color: #fff; border: none; }

.login-element .submit:hover { background: #fc888e; cursor: pointer; }
