/* Here goes your CSS */
@import 'layout/main';

/* ---COLORS--- */

$white-color: #fff;
$black-color: #000;
$red-color: #e21a24;
$coral-color: #fc888e;

/* ---FONTS--- */

$lobster: 'Lobster', cursive;

/* ---MIXINS--- */

@mixin flex-settings() {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ---GENERAL STYLES--- */

* {
    margin: 0;
    padding: 0;
}

/* ---JS DISPLAY CLASSES--- */

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.red-font-color {
    color: $red-color;
    text-decoration: underline;
}

/* ---BEFORE-LOGIN-ELEMENT--- */

.before-login-element {
    @include flex-settings();

    .success-message {
        font-family: $lobster;
    }
}

/* ---LOGIN-ELEMENT--- */

.login-element {
    @include flex-settings();
    width: 275px;
    height: 320px;
    box-sizing: border-box;
    position: relative;
    padding: 36px;
    background: $white-color;
    border-radius: 2%;

    .login-element-title {
        margin-bottom: 20px;
        font-size: 24px;
        font-family: $lobster;
    }

    .input-field {
        width: 100%;
        padding: 13px 22px;
        box-sizing: border-box;
        font-size: 11px;
        border: 1px solid $black-color;
    }

    .email {
        margin-bottom: 15px;
    }

    .password {
        margin-bottom: 18px;
    }

    .checkbox-label {
        display: block;
        margin-bottom: 25px;
        font-size: 12.5px;
    }

    .submit {
        display: block;
        width: 100%;
        padding: 13px;
        font-size: 11px;
        background: $black-color;
        color: $white-color;
        border: none;

        &:hover {
            background: $coral-color;
            cursor: pointer;
        }
    }
}
