/* Here goes your CSS */
@import 'layout/main';

* {
    margin: 0;
    padding: 0;
}

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.container {

}

.before-login-element {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.success-message {
    font-family: 'Lobster', cursive;
}
